body
  background-color: white
  color: black
  display: flex
  align-items: center
  justify-content: center

.login-card
  height: 320px
  width: 320px

  .mdl-card__title
    background: url('http://static.stereogum.com/uploads/2015/10/Taking-Flight-560x560.jpg')
    
