body
  background-color: white
  color: black
  display: flex
  align-items: center
  justify-content: center
  font-family: helvetica
  background-color: gray

h1
  text-align: center
  text-decoration: underline

.shleem
  background-color: pink
  padding: 10px
  border: 2px black solid
  border-radius: 5px
  box-shadow: 5px 5px 10px
