*
  box-sizing: border-box

html
  padding: 0
body
  color: black
  display: flex
  align-items: center
  justify-content: center
  font-family: helvetica
  background-color: #3E3E45
  padding: 0


.page
  width: 60%
  background-color: #3E3E45
  margin-top: 0



.shleemStream
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

h1
  text-align: center
  text-decoration: underline
  color: #ff1122

.shleem
  background-color: white
  padding: 10px 10px 0 10px
  margin-bottom: 20px

  border: 2px black solid
  border-radius: 5px
  box-shadow: 5px 5px 10px
  width: 340px
  height: 340px

svg
  display: none !important
